@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-dypmwq');
	src:url('../fonts/icomoon.eot?#iefix-dypmwq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-dypmwq') format('woff'),
		url('../fonts/icomoon.ttf?-dypmwq') format('truetype'),
		url('../fonts/icomoon.svg?-dypmwq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
	content: "\e600";
}

.icon-cog:before {
	content: "\e601";
}

.icon-edit:before {
	content: "\e602";
}

.icon-old-mobile:before {
	content: "\e603";
}

.icon-paper-plane:before {
	content: "\e604";
}

.icon-pencil:before {
	content: "\e605";
}

.icon-text-document:before {
	content: "\e606";
}

.icon-text:before {
	content: "\e607";
}

