@import url(http://fonts.googleapis.com/css?family=Nunito:300|Lato:100,300,400);

html {
	background-color: #fff;
}

body {
	margin: 0;
	padding: 0;
	font-family: Nunito, Lato, Helvetica Neue, Helvetica, Verdana;
	font-weight: normal;
	font-size: 0.9em;
}

*:focus {
	outline: none;
}

/** General **/

a {
	color: rgb(40, 150, 220);
	text-decoration: none;
}

p {
	line-height: 23px;
	color: rgb(140, 170, 190);
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title {
	font-weight: lighter;
}

ul.inline, ul.no-list {
	list-style: none;
}

ul.inline > li {
	float: left;
	left: 0;
}

ul.inline-block > li {
	display: inline-block;
	vertical-align: top;
}

.no-margin {
	margin: 0;
	padding: 0;
}

nav.right {
	float: right;
}

/** Containers **/

div[class*='-container'] {
	position: relative;
	margin: 0 auto;
}

div.centered {
	text-align: center;
}

div.lightgrey-container {
	padding: 5% 0;
	margin: 5% 0;
	background-color: rgb(230, 235, 245);
}

div.blue-container {
	background-color: rgb(0, 100, 200);
}

div.flex-row {
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-flex-direction: row space-around;
	-moz-flex-direction: row space-around;
	-ms-flex-direction: row space-around;
	flex-direction: row space-around;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}

div.lg-container {
	max-width: 1000px;
	width: 90%;
}

div.md-container {
	max-width: 860px;
	width: 90%;
}

div.flex-container {
	width: 100%;
}

div.flex-container > div {
	display: inline-block;
	vertical-align: middle;
}

/** Header **/

header {
	position: relative;
	height: 642px;
/*	overflow: hidden; */
	background-image: -webkit-radial-gradient(bottom left, rgb(50, 150, 220) 0%, rgb(0, 100, 200) 100%);
	background-image: -moz-radial-gradient(bottom left, rgb(50, 150, 220) 0%, rgb(0, 100, 200) 100%);
	background-image: -ms-radial-gradient(bottom left, rgb(50, 150, 220) 0%, rgb(0, 100, 200) 100%);
	background-image: radial-gradient(bottom left, rgb(50, 150, 220) 0%, rgb(0, 100, 200) 100%);
}

header.standard {
	height: 100%;
	background-image: none;
	background-color: rgb(33, 115, 205);
}

.header-navbar {
	padding: 35px 0;
	border-top: 3px solid #fff;
}

header.standard .header-navbar {
	padding: 28px 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.header-navbar a {
	color: #fff;
}

.header-menu > ul > li > a {
	padding: 10px 16px;
	color: rgb(70, 170, 255);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.header-menu > ul > li > a:hover {
	color: #fff;
}


.header-description p {
	display: block;
	margin: 0 0 40px 0;
	color: rgba(255, 255, 255, 0.5);
}

.header-description .presentation h1 {
	color: #fff;
	font-family: Nunito;
	font-weight: lighter;
	font-size: 320%;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.header-description .presentation a:not(.big-btn) {
	color: rgba(255, 255, 255, 0.5);
	margin-left: 30px;
	text-decoration: underline;
}

.header-description .presentation a:not(.big-btn):hover {
	color: #fff;
}

.header-description .phone-mockup {
	position: absolute;
	bottom: -42%;
	right: 5%;
	width: 28%;
}

.header-description .phone-mockup img {
	float: right;
	width: 95%;
}

/** Buttons **/

a[class$='-btn'] {
	border-radius: 3px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.big-btn {
	color: #fff;
	font-size: 1.2em;
	display: inline-block;
	border: 2px solid #fff;
	padding: 13px 25px;
	font-weight: bold;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.big-btn:hover {
	color: rgb(0, 100, 200);
	background: #fff;
}

.colored-btn {
	padding: 7px 20px;
	color: rgb(50, 150, 220);
	font-weight: bold;
	border: 2px solid rgb(50, 150, 220);
}

.colored-btn:hover {
	color: #fff;
	background-color: rgba(50, 150, 220, 1);
}

/** Footer **/

footer {
	padding: 60px 0 10px 0;	
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(20, 35, 60);
}

footer h3 {
	color: rgba(255, 255, 255, 0.7);
}

footer .copyright {
	font-size: 0.7em;
	color: rgba(255, 255, 255, 0.3);
}

/** Form **/

.form-footer-newsletter {
}

.form-footer-newsletter > * {
	display: inline-block;
}

.form-footer-newsletter > .form-input {
	border: none;
	font-family: Helvetica Neue, Helvetica;
	font-weight: normal;
	font-size: 0.9em;
	width: 300px;
	padding: 8px 16px;
	border-radius: 3px 0 0 3px;
	background-color: rgb(60, 75, 120);
}

.form-footer-newsletter > button {
	background-color: #fff;
	border: none;
	font-size: 0.9em;
	padding: 7px 12px 8px;
	margin-left: -5px;
	border-radius: 0 3px 3px 0;
}

.form-block > label, .form-block > .form-input {
	display: block;
	margin: 5px 0;
	box-sizing: box-size;
}

.form-input {
	padding: 8px 14px;
	color: #777;
	min-width: 220px;
	width: 100%;
	font-family: Helvetica Neue, Helvetica, "sans-serif";
	font-weight: normal;
	font-size: 0.9em;
	border: 1px solid #ddd;
	border-radius: 2px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.form-input:focus {
	border: 1px solid rgb(50, 150, 220);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.form-block > label {
	font-size: 1em;
	color: #888;
}

.form-submit {
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 2px;
	padding: 10px 17px;
	font-size: 1em;
	background-color: rgb(33, 115, 205);
}

/** Custom **/

.team .avatar {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 100%;
	background-size: cover;
}

.team li {
	margin: 0 42px;
}

.team .social a {
	margin: 0 5px;
	font-size: 1.3em;
}

.player {
	width: 43.33vw;
	height: 28.75vw;
	margin-right: 50px;
	background-color: #eee;
}

.player + div {
	width: 40%;
}

.newsletter {
	padding: 10px 0;
}
