@import url(http://fonts.googleapis.com/css?family=Nunito:300|Lato:100,300,400);

html {
	background-color: #fff;
}

body {
	margin: 0;
	padding: 0;
	font-family: Nunito, Lato, Helvetica Neue, Helvetica, Verdana;
	font-weight: normal;
	font-size: 0.9em;
}

*:focus {
	outline: none;
}

/** General **/

a {
	color: rgb(40, 150, 220);
	text-decoration: none;
}

p {
	line-height: 23px;
	color: rgb(140, 170, 190);
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title {
	font-weight: lighter;
}

ul.inline, ul.no-list {
	list-style: none;
}

ul.inline > li {
	float: left;
	left: 0;
}

ul.inline-block > li {
	display: inline-block;
	vertical-align: top;
}

.no-margin {
	margin: 0;
	padding: 0;
}

nav.right {
	float: right;
}

/** Containers **/

div[class*='-container'] {
	position: relative;
	margin: 0 auto;
}

div.centered {
	text-align: center;
}

div.lightgrey-container {
	padding: 5% 0;
	margin: 5% 0 0;
	background-color: rgb(230, 235, 245);
}

div.blue-container {
	background-color: rgb(0, 100, 200);	
}

div.blue-container p {
	color: rgba(255, 255, 255, 0.7);
}

div.flex-row {
	width: 90%;
	margin: 0 auto;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-flex-direction: row space-around;
	-moz-flex-direction: row space-around;
	-ms-flex-direction: row space-around;
	flex-direction: row space-around;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;	
/*	
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-flex-direction: row space-around;
	-moz-flex-direction: row space-around;
	-ms-flex-direction: row space-around;
	flex-direction: row space-around;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
*/
}

div.flex-row.spaced {
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}

div.lg-container {
	max-width: 1000px;
	width: 90%;
}

div.md-container {
	max-width: 860px;
	width: 90%;
}

div.sm-container {
	max-width: 720px;
	width: 90%;
}

div.flex-container {
	width: 100%;
}

div.flex-container > div {
	display: inline-block;
	vertical-align: middle;
}

/** Header **/

header {
	position: relative;
	height: 642px;
/*	overflow: hidden; */
	background-image: -webkit-radial-gradient(bottom left, rgb(50, 150, 220) 0%, rgb(0, 100, 200) 100%);
	background-image: -moz-radial-gradient(bottom left, rgb(50, 150, 220) 0%, rgb(0, 100, 200) 100%);
	background-image: -ms-radial-gradient(bottom left, rgb(50, 150, 220) 0%, rgb(0, 100, 200) 100%);
	background-image: radial-gradient(bottom left, rgb(50, 150, 220) 0%, rgb(0, 100, 200) 100%);
}

header.standard {
	height: 100%;
	background-image: none;
	background-color: rgb(33, 115, 205);
}

.header-navbar {
	padding: 35px 0;
	border-top: 3px solid #fff;
}

header.standard .header-navbar {
	padding: 28px 0;
	border-top: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.header-navbar a {
	color: #fff;
}

.header-menu > ul > li > a {
	padding: 10px 16px;
	color: rgb(70, 170, 255);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.header-menu > ul > li > a:hover {
	color: #fff;
}


.header-description p {
	display: block;
	margin: 0 0 40px 0;
	color: rgba(255, 255, 255, 0.5);
}

.header-description .presentation h1 {
	color: #fff;
	font-family: Nunito;
	font-weight: lighter;
	font-size: 320%;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.header-description .presentation a:not(.big-btn) {
	color: rgba(255, 255, 255, 0.5);
	margin-left: 30px;
	text-decoration: underline;
}

.header-description .presentation a:not(.big-btn):hover {
	color: #fff;
}

.header-description .phone-mockup {
	position: absolute;
	bottom: -42%;
	right: 5%;
	width: 28%;
}

.header-description .phone-mockup img {
	float: right;
	width: 95%;
}

/** Buttons **/

a[class$='-btn'] {
	border-radius: 3px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.big-btn {
	color: #fff;
	font-size: 1.2em;
	display: inline-block;
	border: 2px solid #fff;
	padding: 13px 25px;
	font-weight: bold;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.big-btn:hover {
	color: rgb(0, 100, 200);
	background: #fff;
}

.colored-btn {
	padding: 7px 20px;
	color: rgb(50, 150, 220);
	font-weight: bold;
	border: 2px solid rgb(50, 150, 220);
}

.colored-btn:hover {
	color: #fff;
	background-color: rgba(50, 150, 220, 1);
}

/** Badges **/

.badge-checked {
	position: absolute;
	padding: 5px;
	color: #fff;
	font-size: 0.8em;
	right: 10px;
	top: 10px;
	border-radius: 100%;
	border: 2px solid #fff;
/*	
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	background-image: -webkit-linear-gradient(top, rgb(50, 150, 220) 0%, rgb(0, 100, 200) 100%);
*/
	background-color: rgb(50, 150, 220);
/*	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
*/
}

/** Footer **/

footer {
	padding: 30px 0 10px 0;	
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(20, 35, 60);
}

footer h3 {
	padding: 10px 4px;
	color: rgba(255, 255, 255, 0.7);
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

footer .copyright {
	font-size: 0.7em;
	color: rgba(255, 255, 255, 0.3);
}

footer .flex-row > div {
	width: 20%;
	margin: 0 15px;
}

/** Form **/

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}
:-moz-placeholder {
	color: rgba(255, 255, 255, 0.5);
	opacity:  1;
}
::-moz-placeholder {
	color: rgba(255, 255, 255, 0.5);
	opacity:  1;
}
:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.form-footer-newsletter {
	margin: 0 15px;
}

.form-footer-newsletter > * {
	display: inline-block;
}

.form-footer-newsletter > .form-input {
	border: none;
	font-family: Helvetica Neue, Helvetica;
	font-weight: normal;
	font-size: 0.9em;
	width: 300px;
	padding: 8px 16px;
	color: #fff;
	border-radius: 3px 0 0 3px;
	border: 1px solid transparent;
	background-color: rgba(0, 0, 0, 0.3);
}

.form-footer-newsletter > .form-input:focus {
	border: 1px solid transparent !important;
	background-color: rgba(0, 0, 0, 0.4);
}

.form-footer-newsletter > button {
	cursor: pointer;
	background-color: #fff;
	color: #fff;
	background-color: rgb(20, 130, 240);
	border: none;
	font-size: 0.9em;
	padding: 8px 12px 9px;
	margin-left: -5px;
	border-radius: 0 3px 3px 0;
}

.form-block > label, .form-block > .form-input {
	display: block;
	margin: 5px 0;
	box-sizing: box-size;
}

.form-input {
	padding: 8px 14px;
	color: #777;
	min-width: 220px;
	width: 100%;
	font-family: Helvetica Neue, Helvetica, "sans-serif";
	font-weight: normal;
	font-size: 0.9em;
	border: 1px solid #ddd;
	border-radius: 2px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.form-input:focus {
	border: 1px solid rgb(50, 150, 220);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.form-block {
	margin: 10px 0;
}

.form-block > label {
	font-size: 1em;
	color: #888;
}

button[class^='form-submit'] {
	cursor: pointer;
	border: none;
	border-radius: 2px;
	padding: 10px 22px;
	font-size: 0.9em;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.form-submit {
	color: #fff;
	background-color: rgb(33, 115, 205);
}

.form-submit:hover {

}

.form-submit-default {
	color: #555;
	background-color: rgb(240, 242, 245);
}

.form-submit-default:hover {

}

/** Custom **/

.team .avatar {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 100%;
	border: 6px solid #fff;
	background-size: cover;
	-webkit-filter: grayscale(42%);
}

.team .avatar:hover {
	-webkit-filter: grayscale(0%);	
}

.team h4 {
	color: rgba(0, 0, 0, 0.4);
}

.team li {
	margin: 0 42px;
}

.team .social a {
	margin: 0 5px;
	font-size: 1.3em;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.team .social a:hover {
	color: rgb(60, 170, 250);	
}

.player {
/*	width: 43.33vw;
	height: 28.75vw;
*/
	margin-right: 50px;
	background-color: #eee;
}

.player + div {
	width: 40%;
}

.newsletter {
	padding: 10px 0;
}

.newsletter > div > * {
	display: inline-block;
}


/*********************** To Remove ***********************/

.map-creator {
	display: block;
	height: 420px;
	width: 100%;
	background-color: #eee;
}

div[class^='card'] {
	border-radius: 2px;
	height: 170px;
	width: 300px;
	padding: 10px 30px;
	color: #fff;
	margin: 10px;
	position: relative;
/*	border: 1px solid transparent !important;
*/
}

div.card {
	background-image: -webkit-linear-gradient(33deg, rgb(30, 35, 40) 70%, rgb(200, 210, 220) 70%);	
}

div.card2 {
	text-align: right;
	background-image: -webkit-linear-gradient(left, rgb(70, 80, 100) 20%, rgb(200, 210, 220) 20%);	
}

div.card2 a, div.card2 h3 {
	color: #fff;
}

div.card2 p {
	color:  rgb(110, 140, 160);	
}

div.card3 {
	color: rgb(50, 150, 220);
	border: 1px solid rgb(50, 150, 220);
	background-image: -webkit-radial-gradient(top , ellipse, rgb(255, 255, 255) 80%, rgb(50, 150, 220) 80%);
}

div.card4 {
	background-image: -webkit-radial-gradient(top right,
		rgb(155, 152, 140) 60%, 
		rgb(100, 90, 70) 61%,
		rgb(200, 190, 160) 60%);
}

div.card4 p {
	color: #fff;
}

.card a:hover {
	text-decoration: underline;
}
