@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html {
	background-color: #fff;
}

*:focus { outline: none }

body {
	margin: 0;
	padding: 67px 0 0;
	color: #333;
	font-family: 'Lato', Helvetica Neue, Helvetica, Verdana;
	font-weight: normal;
    font-size: 0.9em;
}

a {
	text-decoration: none;
}

h1.title , h2.title {
	font-weight: lighter;
	word-spacing: 7px;
	letter-spacing: 1px;	
}

.header-navbar {
	padding: 25px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: rgb(42, 112, 170);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.header-navbar a {
    color: #fff;
    -webkit-transition: all 0.2s;
}

.header-navbar a.opened {
    background-color: #fff;
    color: #444;
}

.header-navbar nav a {
    padding: 25px 30px;
    color: rgb(0, 70, 120);
}

.header-navbar nav a:hover {
    background-color: rgb(62, 132, 190);
}

.header-navbar nav a.active {
    color: #fff; 
}

.header-navbar nav > ul > li {
	margin: 0;
}

.header-navbar li.dropdown {
    position: relative;
}

.header-navbar li.dropdown a:hover {
    background-color: #fff;
    color: #444;
}

.header-navbar li.dropdown:hover > ul {
    display: block;
}

.header-navbar li.dropdown > ul {
    position: absolute;
    top: 42px;
    right: 0;
    padding: 6px 15px;
    min-width: 150px;
    display: none;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.header-navbar ul.dropped a {
    display: block;
    padding: 10px;
    margin: 0;
    color: #777;
}


.header-navbar ul.dropped a:hover {
    padding: 10px 7px 10px 13px;
    background-color: transparent;
    color: #444;
}

.header-navbar li.dropdown > ul > li {
    margin: 4px 0;
}

.header-navbar li.dropdown > ul > li.seperated {
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.navbar-default {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(220, 220, 220);
}

.navbar-default ul {
    padding: 0;
    margin: 0;
}

.navbar-default li {
    margin: 0;
}

.navbar-default a {
    display: inline-block;
    padding: 15px 20px;
    color: #888;
    -webkit-transition: all 0.2s;
}

.navbar-default a:hover {
    background-color: rgb(210, 210, 210);
}

nav.right {
	float: right;
}

ul.inline, ul.no-list {
	list-style: none;
}

ul.no-margin {
	margin: 0;
    padding: 0;
}

ul.inline > li {
	float: left;
	left: 0;
}

ul.inline-block > li {
    display: inline-block;
    vertical-align: top;
}

#header {
    position: relative;
    background-color: #eee;
    background-size: cover;
    width: 100vw;
    min-height: 610px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: wrap;
    -moz-justify-content: wrap;
    -ms-justify-content: wrap;
    justify-content: wrap;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;

    -webkit-filter: grayscale(70%);
}

#header .presentation {
    margin: 0 auto;
}

#header .presentation > h1, #header .presentation > h2 {
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -ms-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#header .presentation > h1 {
    font-size: 320%;
    display: inline-block;
    width: 100%;
    text-align: center;
}
/** Containers **/

div[class*='-container'] {
	margin: 0 auto;
}

div.lg-container {
	width: 1280px;
}

div.lg-flex-container {
	width: 90%;
}

div.sm-container {
	width: 420px;
}

div.md-container {
	width: 720px;
}

div.col-2 {
    width: 40%;
}

div.row-flex {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-direction: row space-around;
    -moz-flex-direction: row space-around;
    -ms-flex-direction: row space-around;
    flex-direction: row space-around;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;  
}

.centered-box {
    padding: 50px 0;
    width: 330px;
    margin: 0 auto;
    text-align: center;
}

/** Buttons **/

a[class$='-btn'], a[class*='-btn'],
 button[class$='-btn'], button[class*='-btn'] {
	border: none;
	border-radius: 3px;
	color: #fff;
	background-color: rgb(50, 150, 240);
	-webkit-transition: all 0.2s;
}

a[class$='-btn'].centered, a[class*='-btn'].centered,
 button[class$='-btn'].centered, button[class*='-btn'].centered {
    margin: 0 auto;
}

a.big-btn, button.big-btn {
	padding: 15px 20px;
	display: block;
	width: 160px;
	font-size: 1.5em;
	font-weight: lighter;
	letter-spacing: 2px;
	text-align: center;
}

a.big-btn.shadowed, button.big-btn.shadowed {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

a[class$='-btn']:hover, a[class*='-btn']:hover,
 button[class$='-btn']:hover, button[class*='-btn']:hover {

 	background-color: rgb(40, 130, 220);
}

a.simple-btn {
	padding: 10px 20px;
}

/** Form inputs **/

form .form-input {
	display:block;
	width: 100%;
	margin: 16px auto;
	font-size: 0.9em;
	padding: 12px 14px;
	border: 1px solid #ddd;
	border-radius: 3px;
	-webkit-transition: all 0.2s;
    box-sizing: border-box;
}

form .form-input.sm {
    width: 50%;
    margin-left: 0;
}

form .form-input:focus {
	border: 1px solid rgb(50, 150, 240);
}

form .form-block {
	display: block;
	position: relative;
}
					
form .submit-btn {
	cursor: pointer;
	min-width: 110px;
	border: none;
	border-radius:2px;
	color: #fff;
	font-size: 1em;
	padding: 13px 25px;
	background-color: rgb(50, 150, 240);
}

/** Cards **/

div.card {
    position: relative;
    display: inline-block;
    padding: 15px 32px;
    margin: 10px 10px;
    vertical-align: top;
    background-color: #eee;
    border: 1px solid transparent !important;
    border-radius: 2px;
    background-size: cover;
    width: 20vw;
    height: 11.25vw;
    min-width: 330px;    
    min-height: 186px;
    max-width: 420px;
    max-height: 236px;
/*    border: 1px solid #bbbbbb;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
*/
}

div.card > div.hovered-links {
    position: absolute;
    right: 5px;
    top: 7px;
}

div.card > div.hovered-links a {
    color: #fff;
    padding: 6px;
}
