<div class="sm-container" ng-controller="accountUpdateController">
	<h2 class="title">Update profile</h2>
	<form class="form-signin" name="newCardForm" data-ng-submit="update()" novalidate>
		<div class="form-block">
			<input type="text" class="form-input" placeholder="{{ card.organization }}" value="{{ organization }}" data-ng-model="organization">
		</div>
		<div class="form-block">
			<input type="text" class="form-input" placeholder="{{ card.job }}" value="{{ job }}"  data-ng-model="job">
		</div>
		<div class="form-block">
			<input type="text" class="form-input" placeholder="{{ card.location }}" value="{{ location }}" data-ng-model="location">
		</div>
		<div class="form-block">
			<input type="email" class="form-input" placeholder="{{ card.email }}" value="{{ email }}"  data-ng-model="email">
		</div>
		<div class="form-block">
			<input type="text" class="form-input sm" placeholder="{{ card.phone }}" value="{{ phone }}" data-ng-model="phone">
		</div>
		<div class="form-block">
			<input type="text" class="form-input" placeholder="{{ card.slogan }}" value="{{ slogan }}" data-ng-model="slogan">
		</div>
		<div class="form-block">
			<input type="text" class="form-input sm" placeholder="{{ card.color }}" value="{{ color }}" data-ng-model="color">
		</div>		
		<button class="submit-btn" type="submit" value="Login">Update my profile</button>
	</form>
</div>

<!--
<h2 class="h2 text-center">Update Profile</h2>

<div class="container" ng-controller="accountUpdateController">
	<p class="bg-danger" data-ng-show="error">{{error}}</p>
	<div>Firstname:	[{{firstname}}]</div>
	<div>Lastname: [{{lastname}}]</div>
	<div>Email: [{{email}}]</div>
	<div>Avatar: [{{avatar}}]</div>
	<div>User_id: [{{id}}]</div>
	<div>LastLogin: [{{lastLogin}}]</div>
	<div>???Card_Hash: [{{card_hash}}]</div>


	<form class="form-signin" name="registerForm" data-ng-submit="registerForm.$valid && update()" novalidate>

		<label for="inputPassword" class="sr-only">First Name</label>
		<input class="form-control" type="text" data-ng-model="update_firstname" placeholder="{{firstname}}" required />
		</br>

		<label for="inputPassword" class="sr-only">Last Name</label>
		<input class="form-control" type="text" data-ng-model="update_lastname" placeholder="{{lastname}}" required />
		</br>


		<label for="inputEmail" class="sr-only">Email</label>
		<input class="form-control" type="text" data-ng-model="update_email" placeholder="{{email}}" required />
		</br>

		<label for="inputEmail" class="sr-only">URL Avatar</label>
		<input class="form-control" type="text" data-ng-model="update_avatar" placeholder="{{avatar}}" required />
		</br>

		<label for="inputPassword" class="sr-only">New Password</label>
		<input class="form-control" type="password" data-ng-model="update_password" placeholder="Old Password" required />
		</br>

		<label for="inputPassword" class="sr-only">Again Password</label>
		<input class="form-control" type="password" data-ng-model="retype_password" placeholder="Again Password" required />
		</br>


		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />Update Profile</button>
	</form>
</div>
-->