<h2 class="h2 text-center">Create New Card</h2>
<div class="container" ng-controller="cardCreateController">
	<div class="bg-danger" ng-show="error">{{error}}</div>

	<form class="form-signin" name="newCardForm" data-ng-submit="newCardForm.$valid && create()" novalidate>
		<div class="col-sm-9 col-mg-9 col-lg-9">
			* Organisation
			<label for="inputPassword" class="sr-only">Organisation</label>
			<input class="form-control" type="text" data-ng-model="organization" placeholder="Organisation" required />
			</br>

			* Job
			<label for="inputPassword" class="sr-only">Job</label>
			<input class="form-control" type="text" data-ng-model="job" placeholder="Job" required />
			</br>

			* Location / Adress
			<label for="inputEmail" class="sr-only">Location / Address</label>
			<input class="form-control" type="text" data-ng-model="location" placeholder="Location" required />
			</br>
			
			* Email
			<label for="inputPassword" class="sr-only">Email</label>
			<input class="form-control" type="email" data-ng-model="email" placeholder="Email" required />
			</br>

			* Phone Number
			<label for="inputPassword" class="sr-only">Phone Number</label>
			<input class="form-control" type="tel" data-ng-model="phone" placeholder="Phone number" required />
			</br>

			* Slogan
			<label for="inputPassword" class="sr-only">Slogan</label>
			<input class="form-control" type="text" data-ng-model="slogan" placeholder="Slogan" required />
			</br>
			
			* Color
			<label for="inputPassword" class="sr-only">Color</label>
			<input class="form-control" type="tel" data-ng-model="color" placeholder="Color" required />
			</br>
		</div>

		<div class="col-sm-3 col-mg-3 col-lg-3">
			Type
			<label for="inputPassword" class="sr-only">Type</label>
			<select class="form-control" data-ng-model="type">
				<option value="0">{{type0}}</option>
				<option value="1">{{type1}}</option>
			</select>
			</br>
			
			Template
			<label for="inputPassword" class="sr-only">Template</label>
			<select class="form-control" data-ng-model="id_template">
				<option data-ng-repeat="entry in templates" value="{{entry.id}}">{{entry.name}}</option>
			</select>
			</br>

			Font
			<label for="inputPassword" class="sr-only">Id font select</label>
			<select class="form-control"  data-ng-model="id_font">
				<option data-ng-repeat="entry in fonts" value="{{entry.id}}">{{entry.name}}</option>
			</select>
			</br>
		</div>


		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />Add Card</button>
	</form>
</div>
