<h2 class="h2 text-center">Create New Card</h2>
<div class="container" ng-controller="loginController">
	<div ng-show="error">{{error}}</div>
	<form class="form-signin" name="newCardForm" data-ng-submit="newCardForm.$valid && create()" novalidate>

		<h2 class="form-signin-heading">Create New Card</h2>

		<label for="inputPassword" class="sr-only">Organisation</label>
		<input class="form-control" type="text" data-ng-model="organization" placeholder="Organisation" required />
		</br>

		<label for="inputPassword" class="sr-only">Job</label>
		<input class="form-control" type="text" data-ng-model="job" placeholder="Job" required />
		</br>


		<label for="inputEmail" class="sr-only">Location / Address</label>
		<input class="form-control" type="text" data-ng-model="newLocation" placeholder="Location" required />
		</br>

		<label for="inputPassword" class="sr-only">Email</label>
		<input class="form-control" type="email" data-ng-model="email" placeholder="Email" required />
		</br>

		<label for="inputPassword" class="sr-only">Phone Number</label>
		<input class="form-control" type="tel" data-ng-model="phone" placeholder="Phone number" required />
		</br>


		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />Sign in</button>
	</form>

</div>

