<div class="navbar-default">
	<div class="lg-flex-container">
		<ul class="inline-block">
			<li><a href="#/cardList">Manage cards</a></li>
			<li><a href="#/cardCreate">Create a card</a></li>
			<li><a href="#/template">Templates</a></li>
			<li><a href="#/templateCreate">Create a template</a></li>
		</ul>
	</div>
</div>
<div class="lg-flex-container">
	<div class="alert-danger animated fadeIn" data-ng-show="error">
		<p><span class="icon-cross"></span>{{ error }}</p>
	</div>
</div>
<div class="row-flex" ng-controller="cardUpdateController">

	<div>
		<h2 class="title">Old card</h2>
		<div class="card" style="color:#{{ card.color }};background-image:url({{ cdn + card.template.path }});font-family:{{ card.font.name }}, Helvetica, Verdana">

			<h3>{{ card.job }} at {{ card.organization }}</h3>
			<p style="color:#{{ card.color }}">{{ card.slogan }}</p>
			<p style="color:#{{ card.color }}">{{ card.email }} / {{ card.phone }}</p>
			<p style="color:#{{ card.color }}">{{ card.location }}</p>
		</div>
	</div>
	<div style="width:33%;">
		<h2 class="title">Edit card #{{ card.id }}</h2>
		<form class="form-signin" name="newCardForm" data-ng-submit="update()" novalidate>
			<div class="form-block">
				<label for="organization">Organization name</label>
				<input type="text" class="form-input" placeholder="{{ card.organization }}" value="{{ organization }}" data-ng-model="organization">
			</div>
			<div class="form-block">
				<label for="job">Job name</label>
				<input type="text" class="form-input" placeholder="{{ card.job }}" value="{{ job }}"  data-ng-model="job">
			</div>
			<div class="form-block">
				<label for="location">Location</label>
				<input type="text" class="form-input" placeholder="{{ card.location }}" value="{{ location }}" data-ng-model="location">
			</div>
			<div class="form-block">
				<label for="email">Email address</label>
				<input type="email" class="form-input" placeholder="{{ card.email }}" value="{{ email }}"  data-ng-model="email">
			</div>
			<div class="form-block">
				<label for="phone">Phone number</label>
				<input type="text" class="form-input sm" placeholder="{{ card.phone }}" value="{{ phone }}" data-ng-model="phone">
			</div>
			<div class="form-block">
				<label for="slogan">Slogan</label>
				<input type="text" class="form-input" placeholder="{{ card.slogan }}" value="{{ slogan }}" data-ng-model="slogan">
			</div>
			<div class="form-block">
				<label for="font">Font color</label>
				<input type="text" class="form-input sm" placeholder="{{ card.color }}" value="{{ color }}" data-ng-model="color">
			</div>
			<div class="form-block">
				<label for="type">Card type</label>
				<select class="form-input select" data-ng-model="type">
					<option value="0" data-ng-selected="card.type == 0">Pro</option>
					<option value="1" data-ng-selected="card.type == 1">Perso</option>
				</select>
			</div>
			<div class="form-block">
				<label for="template">Choose a template</label>
				<select class="form-input select" data-ng-model="id_template">
					<option
						data-ng-repeat="entry in templates.data"
						value="{{entry.id}}"
						ng-selected="card.id_template == entry.id">{{entry.name}}
					</option>
				</select>
			</div>
			<div class="form-block">
				<label for="template">Choose a font</label>
				<select  class="form-input select" data-ng-model="id_font">
					<option
						data-ng-repeat="entry in fonts"
						value="{{entry.id}}"
						ng-selected="card.id_font == entry.id">{{entry.name}}
					</option>
				</select>
			</div>		
			<button class="submit-btn" type="submit" value="Login">Update card</button>
		</form>
	</div>
	<div>
		<h2 class="title">New card</h2>	
		<div class="card" style="color:#{{ card.color }};background-image:url({{ cdn + template.path }});font-family:{{ font.name }}, Helvetica, Verdana">

			<h3 ng-if="organization == undefined">{{ card.organization }}</h3>
			<h3 ng-if="organization == ''">{{ card.organization }}</h3>
			<h3 ng-if="organization">{{ organization }}</h3>

			<p ng-if="slogan == undefined">{{ card.slogan }}</p>
			<p ng-if="slogan == ''">{{ card.slogan }}</p>
			<p ng-if="slogan">{{ slogan }}</p>

			<p ng-if="email == undefined">{{ card.email }}</p>
			<p ng-if="email == ''">{{ card.email }}</p>
			<p ng-if="email">{{ email }}</p>

			<p ng-if="phone == undefined">{{ card.phone }}</p>
			<p ng-if="phone == ''">{{ card.phone }}</p>
			<p ng-if="phone">{{ phone }}</p>

			<p ng-if="location == undefined">{{ card.location }}</p>
			<p ng-if="location == ''">{{ card.location }}</p>
			<p ng-if="location">{{ location }}</p>

		</div>
	</div>
</div>

