<div class="navbar-default">
	<div class="lg-flex-container">
		<ul class="inline-block">
			<li><a href="#">Test default</a></li>
			<li>
				<form method="#" action="#" role="form">
					<div class="form-search-block">
						<input type="text" name="search" placeholder="Looking for someone?" class="form-search">
						<button class="form-submit-search icon-magnifying-glass"></button>
					</div>
				</form>
			</li>
		</ul>
	</div>
</div>
<div class="lg-flex-container">
	<div class="title">
		<h1 class="title">Your Network</h1>
		<p>Some description ...</p>
	</div>
	<div data-ng-repeat="entry in result">
		<div class="card" style="color:#{{ card.color }};background-image:url({{ 'http://www.slidecard.tk' + card.template.path }});font-family:{{ card.font.name }}, Helvetica, Verdana">
			<div class="hovered-links">
					<a href="#/card/delete/{{ card.id }}" class="icon-trash">
						<span class="helper"><span class="carret"></span>Remove</span>
					</a>
					<h3>{{ entry.owner.firstname }} {{ entry.owner.lastname }}</h3>
					<p>{{ entry.id }}</p>
			</div>
		</div>
	</div>
</div>
<!--
<h2 class="h2 text-center">Collection</h2>
<div data-ng-controller="collectionListController">
	<p class="bg-danger" data-ng-show="error">{{entry.error}}</p>
	<div data-ng-repeat="entry in result">
	<table>
		<tr>
			<p>-----------------------------------------------------------------</p>
			<div>
				<button type="button" class="btn btn-default">
					<a href="#/collection/delete/{{entry.id}}">Delete this Contact</a>
				</button>
			</div>
		</tr>
		<tr>
			<td style="width: 650px">
				id: {{entry.id}}</br>
				hash_code: {{entry.hash_code}}</br>
				owned_by: {{entry.owned_by}}</br>
				type: {{entry.type}}</br>
				id_font: {{entry.id_font}}</br>
				organization: {{entry.organization}}</br>
				job: {{entry.job}}</br>
				location: {{entry.location}}</br>
				email: {{entry.email}}</br>
				phone: {{entry.phone}}</br>
				slogan: {{entry.slogan}}</br>
				id_template: {{entry.id_template}}</br>
				color: {{entry.color}}</br>
				deleted_at: {{entry.deleted_at}}</br>
				created_at: {{entry.created_at}}</br>
				updated_at: {{entry.updated_at}}
			</td>
			<td>
				<b>OWNER:</b><br>
				id: {{entry.owner.id}}</br>
				id_rights: {{entry.owner.id_rights}}</br>
				card_hash: {{entry.owner.card_hash}}</br>
				active: {{entry.owner.active}}</br>
				firstname: {{entry.owner.firstname}}</br>
				lastname: {{entry.owner.lastname}}</br>
				avatar: {{entry.owner.avatar}}</br>
				email: {{entry.owner.email}}</br>
				last_login: {{entry.owner.last_login}}</br>
				api_token: {{entry.owner.api_token}}</br>
				created_at: {{entry.owner.created_at}}</br>
				updated_at: {{entry.owner.updated_at}}
 			</td>
		</tr>
	</table>
	</div>
</div>
-->