
<div class="sm-container" id="login" ng-controller="loginController">
	<h2 class="title">Create your profile in a minute!</h2>
	<form class="form-signin" name="loginForm" data-ng-submit="loginForm.$valid && auth()" novalidate>
		<div class="form-block">
			<input type="email" class="form-input" placeholder="Email address" required="true" data-ng-model="email">
		</div>
		<div class="form-block">
			<input type="password" class="form-input" placeholder="Password" required="true" data-ng-model="password">
		</div>

		<button class="submit-btn" type="submit" value="Login">Sign in</button>
	</form>
</div>

<!--
<h2 class="h2 text-center">Login</h2>

<div class="container" ng-controller="loginController">

	<p>{{test}}</p>

	<div class="bg-danger" ng-show="error">{{error}}</div>
	<form class="form-signin" name="loginForm" data-ng-submit="loginForm.$valid && auth()" novalidate>

		<h2 class="form-signin-heading">Please sign in</h2>

		<label for="inputEmail" class="sr-only">Email</label>
		<input class="form-control" type="text" data-ng-model="email" placeholder="email" required />
		</br>
		<label for="inputPassword" class="sr-only">Password</label>
		<input class="form-control" type="password" data-ng-model="password" placeholder="password" required />
		</br>
		<button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-show="loginForm.$valid" value="Login" />Sign in</button>
	</form>

</div>
 
jquilez@student.42.fr
jquilez
-->