
<div class="sm-container" id="login" ng-controller="loginController">
	<h2 class="title">Create your profile in a minute!</h2>
	<div class="alert-danger animated fadeIn" data-ng-show="error">
		<p><span class="icon-cross"></span>{{ error }}</p>
	</div>
	<form class="form-signin" name="loginForm" data-ng-submit="auth()" novalidate>
		<div class="form-block">
			<input type="email" class="form-input" placeholder="Email address" required="true" data-ng-model="email">
		</div>
		<div class="form-block">
			<input type="password" class="form-input" placeholder="Password" required="true" data-ng-model="password">
		</div>

		<button class="submit-btn" type="submit" value="Login">Sign in</button>
	</form>
</div>
