<h2 class="h2 text-center">Register</h2>
<div class="container" ng-controller="registerController">
	<div class="bg-danger" ng-show="error">{{error}}</div>
	<form class="form-signin" name="registerForm" data-ng-submit="registerForm.$valid && reg()" novalidate>

		<h2 class="form-signin-heading">Register New account</h2>

		<label for="inputPassword" class="sr-only">First Name</label>
		<input class="form-control" type="text" data-ng-model="firstname" placeholder="First Name" required />
		</br>

		<label for="inputPassword" class="sr-only">Last Name</label>
		<input class="form-control" type="text" data-ng-model="lastname" placeholder="Last Name" required />
		</br>

		<label for="inputEmail" class="sr-only">Email</label>
		<input class="form-control" type="text" data-ng-model="email" placeholder="Email" required />
		</br>

		<label for="inputEmail" class="sr-only">Email Again</label>
		<input class="form-control" type="text" data-ng-model="email_again" placeholder="Again Email" required />
		</br>

		<label for="inputPassword" class="sr-only">Password</label>
		<input class="form-control" type="password" data-ng-model="password" placeholder="Password" required />
		</br>

		<label for="inputPassword" class="sr-only">Again Password</label>
		<input class="form-control" type="password" data-ng-model="retype_password" placeholder="Again Password" required />
		</br>

		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />Register</button>
	</form>

</div>

