<div class="md-container title">
	<div class="alert-danger animated fadeIn" data-ng-show="error">
		<p><span class="icon-cross"></span>{{ error }}</p>
	</div>
	<div class="title">
	<h1 class="title" align="center">Create your profile in a minute!</h1>
	</div>
	<div class="sm-container">
	<form role="form" class="form" name="registerForm" data-ng-submit="registerForm.$valid && reg()" novalidate>
		<div class="form-block">
			<input type="text" class="form-input" placeholder="Firstname" required="true" data-ng-model="firstname">
		</div>
		<div class="form-block">
			<input type="text" class="form-input" placeholder="Lastname" required="true" data-ng-model="lastname">
		</div>
		<div class="form-block">
			<input type="email" class="form-input" placeholder="Email address" required="true" data-ng-model="email">
		</div>
		<div class="form-block">
			<input type="email" class="form-input" placeholder="Confirm email address" required="true" data-ng-model="email_again">
		</div>
		<div class="form-block">
			<input type="password" class="form-input" placeholder="Password" required="true" data-ng-model="password">
		</div>
		<div class="form-block">
			<input type="password" class="form-input" placeholder="Confirm password" required="true" data-ng-model="retype_password">
		</div>
		<button class="submit-btn" type="submit" value="Login">Register</button>
	</form>
	</div>
</div>
