<div class="lg-flex-container" style="padding:5% 0;">
	<h2 align="center">Account settings</h2>

	<div class="xs-container">
		<form name="newCardForm" data-ng-submit="update()" novalidate>

			<div class="form-block">
				<label for="update_accept_news">NewsLetter subscription</label>
				<select class="form-input select" data-ng-model="update_accept_news">
					<option data-ng-value="0" data-ng-selected="0 == accept_news"
						data-ng-init="accept_news">False</option>
					<option data-ng-value="1" data-ng-selected="1 == accept_news"
						data-ng-init="accept_news">True</option>
				</select>
			</div>

			<div class="form-block">
				<label for="update_accept_notif">Notifications subscription</label>
				<select class="form-input select" data-ng-model="update_accept_notif">
					<option data-ng-value="0" data-ng-selected="0 == accept_notif"
						data-ng-init="accept_notif">False</option>
					<option data-ng-value="1" data-ng-selected="1 == accept_notif"
						data-ng-init="accept_notif">True</option>
				</select>
			</div>

			<button class="form-submit" type="submit">Save changes</button>
		</form>
	</div>
</div>