<div class="sm-container">
	<h2 class="title">Share Card to another user</h2>
	<div class="alert-danger animated fadeIn" data-ng-show="error">
		<p><span class="icon-cross"></span>{{ error }}</p>
	</div>
	<div class="alert-success animated fadeIn" data-ng-show="success">
		<p><span class="icon-cross"></span>{{ success }}</p>
	</div>
	<form class="form-signin" name="shareForm" ng-submit="shareForm.$valid && sendCard()" novalidate>

		<div class="form-block">
			<input type="text" class="form-input" placeholder="Key User" required="true"
					data-ng-model="userToShare">
		</div>

			<div data-ng-repeat="entry in cards">
				<div class="card"
					style="background-image:url({{ cdn + entry.template.path }});
					font-family:{{ entry.font.name }}, Helvetica, Verdana;
					color:#{{ entry.color }}"
					data-ng-click="selectCard(entry.hash_code)">

					<div data-ng-if="entry.hash_code == cardToSend">
						<h1>SELECTED</h1>
					</div>
					------------------------------------</br>
					cardToSend {{cardToSend}}
					{{entry.hash_code}}
					{{entry.id}}</br>
					{{entry.organization}}</br>
					{{entry.location}}
				</div>
			</div>

		<button class="submit-btn" type="submit">Share</button>
	</form>
</div>
