<h2 class="h2 text-center">Create New Template</h2>
<div class="container" data-ng-controller="templateCreateController">
	<div class="bg-danger" data-ng-show="{{error}}">{{ error }}</div>
	<form class="form-signin" name="newCardForm" data-ng-submit="create()" enctype="multipart/form-data" novalidate>
		<div class="col-sm-3 col-mg-3 col-lg-3">

			* Name
			<label class="sr-only">Name</label>
			<input class="form-control" type="text" data-ng-model="name" placeholder="Name" required />
			</br>

			* Price
			<label class="sr-only">Price</label>
			<input class="form-control" type="text" data-ng-model="price" placeholder="Price" required />
			</br>

			* Type
			<label class="sr-only">Type</label>
			<select class="form-control" data-ng-model="type">
				<option value="0">Pros</option>
				<option value="1">Perso</option>
			</select>
			</br>

			* Template (image file) Image will be resize to 400-300
			<label class="sr-only">Template</label>
			<input class="form-control" type="file" file-model="background" placeholder="File" required />
			</br>

		</div>
		<input class="btn btn-lg btn-primary btn-block" type="submit" value="Add TEmplate"/>
	</form>
</div>
