<div class="navbar-default">
	<div class="lg-flex-container">
		<ul class="inline-block">
			<li><a href="#/cardList">Manage cards</a></li>
			<li><a href="#/cardCreate">Create a card</a></li>
			<li><a href="#/template">Templates</a></li>
			<li><a href="#/templateCreate">Create a template</a></li>
		</ul>
	</div>
</div>
<div class="lg-flex-container">
	<div class="alert-danger" data-ng-show="error">
		<p><span class="icon-cross"></span>{{error}}</p>
	</div>
	<div class="title">
		<h1 class="title">Template collection</h1>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Thumbnail</th>
				<th>Type</th>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="template in result">
				<td align="center">{{ template.id }}</td>
				<td>
					<img src="{{ 'http://www.slidecard.tk' + template.path }}">
				</td>
				<td>
					{{ template.type == '1' ? 'Professional' : 'Personal' }}
				</td>
				<td>
					{{ template.name }}
				</td>
				<td>
					<a href="#/card/{{ card.id }}" class="icon-text"></a>
					<a href="#/card/update/{{card.id}}" class="icon-pencil"></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!--

<h2 class="h2 text-center">Template List</h2>
<div class="container" ng-controller="templateListController">
	<p class="bg-danger" data-ng-show="error">{{error}}</p>
	<div ng-repeat="template in result">
		
		<table>
			<tr></br>------------------------------------------------------------</br></tr>
			<tr>
				<button type="button" class="btn btn-info"><a href="#/card/{{card.id}}">More Info</a></button>
				<button type="button" class="btn btn-info"><a href="#/card/update/{{card.id}}">Update this template</a></button>
			</tr>
			<tr>
				<td style="width: 350px">
					id: [{{template.id}}]</br>
					type: [{{template.type}}]</br>
					name: [{{template.name}}]</br>
					<div style="background: url({{ 'http://www.slidecard.tk' + template.path }}) no-repeat">
						<h1>{{ template.created_by.firstname }} {{ template.created_by.lastname }}</h1>
					</div>
					path: [{{  'http://www.slidecard.tk' + template.path}}]</br>
					price: [{{template.price}}]
				</td>
				<td>
					<b>CREATED BY:</b></br>
					id: [{{template.created_by.id}}]</br>
					firstname: [{{template.created_by.firstname}}]</br>
					lastname: [{{template.created_by.lastname}}]</br>
					email: [{{template.created_by.email}}]</br>
				</td>
			</tr>
		</table>
	</div>
	</br>
</div>
-->