<div class="navbar-default">
	<div class="lg-flex-container">
		<ul class="inline-block">
			<li><a href="#/cardList">Manage cards</a></li>
			<li><a href="#/cardCreate">Create a card</a></li>
			<li><a href="#/template">Templates</a></li>
			<li><a href="#/templateCreate">Create a template</a></li>
		</ul>
	</div>
</div>

<div class="sm-container">
	<h2 class="title">Create your new template!</h2>
	<form class="form-signin" name="templateForm" data-ng-submit="templateForm.$valid && create()" enctype="multipart/form-data" novalidate>
		<div class="alert-danger animated fadeIn" data-ng-show="error">
			<p><span class="icon-cross"></span>{{ error }}</p>
		</div>
		<div class="form-block">
			<input type="text"
				class="form-input"
				placeholder="Template name"
				required="true"
				data-ng-model="name">
		</div>

		<div class="form-block">
			<label for="type">Type</label>
			<select required="true"
				type="text"
				data-ng-model="type"
				class="form-input select">

				<option value="0" data-ng-selected="true">Professional</option>
				<option value="1">Personal</option>
			</select>
		</div>

		<div class="form-block">
			<label for="BACKGROUND">Template background</label>
			<input type="file" file-model="background" class="form-input">
		</div>
		<button class="submit-btn" type="submit" value="create">Create!</button>
	</form>
</div>
